@use 'styles/common/variable' as var;

.global_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: var.$background;
  z-index: 2;
  will-change: auto;

  @media (max-width: var.$small) {
    width: 100%;
  }
}
