.mainGallery {
  padding-left: 15px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.mainContent {
  width: 100%;
}

.mainTop {
  width: 100%;
  display: block;
  margin: 10px 10px 20px 0;
  padding: 10px 30px;
  position: relative;
  color: #333;
  text-align: center;
  display: inline-block;
  text-shadow: 0 0 2px white;
}
.mainTop:before {
  content: '';
  position: absolute;
  background: #ffc778;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.postSlug :global(h4) {
  position: relative;
  padding: 0.25em 1em;
  font-size: 1.5em;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
  color: black;
}

.postSlug :global(h4):before,
.postSlug :global(h4):after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px black;
  border-radius: 50%;
}

.postSlug :global(h4):after {
  top: -12px;
  left: -12px;
}
/* .post :global(h4):after{
  content: '▼';
  font-size: 0.9rem;
  padding-left: 0.2rem;
} */
.postSlug :global(h4):before {
  bottom: -12px;
  right: -12px;
}
.postSlug :global(h5) {
  margin: 2.5rem 0 1.25rem 0;
  font-size: 1.5em;
  color: black;
  text-shadow: 0 0 5px white;
  padding: 0.5em 0.5em;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    white white 3px,
    #f7eb98 3px,
    #f7eb98 7px
  );
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 3px,
    #f7eb98 3px,
    #f7eb98 7px
  );
}
.postSlug :global(h5):after {
  content: '▼';
  color: #9c9ea4;
  font-size: 0.9rem;
  padding-left: 0.2rem;
}

.postSlug :global(h6) {
  margin: 2rem 0 1rem 0;
  font-size: 1.2em;
  background: linear-gradient(transparent 70%, #ffc778 90%);
  padding-left: 1rem;
  color: black;
}
.postSlug :global(h6):after {
  content: '▼';
  color: #9c9ea4;
  font-size: 0.9rem;
  padding-left: 0.2rem;
}

.post {
  width: 48%;
  margin: 10px 10px 10px 0;
  padding: 10px 30px 20px 30px;
  box-shadow: 0 0 8px rgb(196, 195, 195);
  border-radius: 10px;
}

.post :global(p),
.postSlug :global(p) {
  margin: 0.3rem 0;
  color: var(--fg);
  font-size: 1rem;
  min-height: 1.8rem;
}
.postSlug :global(video),
.postSlug :global(img),
.postSlug :global(.asset-wrapper) {
  max-width: 100%;
  display: inline-block;
  border: 3px groove #dddddd;
  border-radius: 10px;
}

.post :global(.tweet) {
  margin: 2rem auto;
  text-align: center;
}
.postSlug table {
  margin: 1rem 0;
}
.postSlug ul {
  font-size: 1rem;
  list-style-type: square;
}
.postSlug ol {
  font-size: 1rem;
}

.postSlug p code {
  color: #eb5757;
}

.subContent {
  padding: 0 5%;
}

.postSlug :global(blockquote) {
  margin: 0.6rem 0;
  padding: 0 0.9rem;
  border-left: 3px solid var(--fg);
  font-size: 1rem;
  line-height: 1.8rem;
}
.postSlug {
  padding: 8% 10%;
  background: #fefdfb;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .mainContent {
    width: 70%;
  }

  .mainGallery {
    min-width: 50%;
    padding: 0;
    margin-left: 20px;
  }

  .subContent {
    width: 33%;
    padding: 0 3%;
  }
  .postSlug {
    padding: 2% 5%;
  }
  /* .postInPost{
    min-width: 50%;
    padding: 2% 5%;
  } */
}

@media (max-width: 600px) {
  .containter {
    margin: 0 10px;
  }
  .mainContent {
    width: 100%;
  }
  .mainGallery {
    padding: 0;
    margin-left: 10px;
    width: 100%;
  }
  .post {
    width: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px 30px 20px 30px;
    box-shadow: 0 0 8px rgb(196, 195, 195);
    border-radius: 10px;
  }
  .postSlug p {
    font-size: 1em;
  }
  .subContent {
    width: 100%;
    padding: 0 3%;
  }
}
