.post {
  width: 48%;
  margin: 10px 10px 10px 0;
  padding: 10px 30px 20px 30px;
  box-shadow: 0 0 8px rgb(196, 195, 195);
  border-radius: 10px;
}
.postDate {
  padding: 0 0 0.3rem;
  font-size: 0.9rem;
}
.postEditTime {
  padding: 0 0 0.3rem;
  font-size: 1.2rem;
  color: #22a50e;
  text-align: right;
}
/*Slug内調整*/
.postTagsSlug a {
  font-size: 0.8em;
}
.postTags a {
  font-size: 0.8em;
}
.postTags,
.postTagsSlug {
  display: block;
  margin: 0.2em 0;
}
.postTags a,
.postTagsSlug a {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.5em 0.2em 0;
  text-decoration: none;
  background: #f7f7f7;
  border-right: solid 6px #ff9c83; /*左線*/
  color: #e42d5d; /*文字色*/
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29);
}
.postTags a:hover,
.postTagsSlug a:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: var(--fg-accents-1);
  font-weight: bolder;
}
.IndexblogTagLink {
  display: inline-block;
}
.IndexblogTagLink ul,
.IndexblogTagLink ol {
  padding: 0;
}
.IndexblogTagLink ul li {
  position: relative;
  list-style-type: none !important; /*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  /* background: #dbebf8; */
  /* background:#f7eb98; */
  vertical-align: middle;
  color: var(--fg);
  border-radius: 15px 0px 0px 15px; /*左側の角丸く*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.IndexblogTagLink ul li:before {
  display: inline-block;
  vertical-align: middle;
  /*以下白丸つくる*/
  content: '';
  width: 1em;
  height: 1em;
  background: #faf5ec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-right: 8px;
}
/* .IndexblogTagLink > div:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.IndexblogTagLink a {
  font-size: 1em;
}
.IndexblogTagLink h3 {
  position: relative;
  padding: 0.25em 1em;
  font-size: 1.5em;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
  color: black;
}

.IndexblogTagLink h3:before,
.IndexblogTagLink h3:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px black;
  border-radius: 50%;
}

.IndexblogTagLink h3:after {
  top: -12px;
  left: -12px;
}

.IndexblogTagLink h3:before {
  bottom: -12px;
  right: -12px;
}

.postTitle {
  font-size: 0.9em;
  margin: 0;
  color: var(--fg);
}

.postTitle:before,
.postTitle:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px black;
  border-radius: 50%;
}

.postTitle:after {
  top: -12px;
  left: -12px;
}
.postTitle:before {
  bottom: -12px;
  right: -12px;
}
.postTitle a {
  color: var(--fg);
}
.postTitle a:hover {
  color: var(--hero-hover-fg);
}
/*Slug内調整*/
.postTitleSlug {
  font-size: 1.6rem;
}

.thumbnail {
  width: 50vw;
  height: calc(50vw * 0.53);
  margin: 10px 0 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none !important;
  border-radius: 10px !important;
}
.thumbnail img {
  width: 50vw;
  height: calc(50vw * 0.53);
}
.thumbnail:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
/*Slug内調整*/
.thumbnailSlug {
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border: none !important;
  border-radius: 10px !important;
}

.postExcerpt p {
  color: var(--fg);
  font-size: 0.8em;
  margin: 0.3em 0;
  line-height: 1em;
}

.post a.expandButton {
  display: block;
  width: 50%;
  margin: 1em auto;
  color: #0a6111;
  font-size: 0.7em;
  text-align: center;
  line-height: 3em;
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 5px #ffc778;
  font-weight: bolder;
}
.post a.expandButton:hover {
  color: var(--hero-hover-fg);
}
.nextContainer {
  width: 100%;
  margin: 40px 0;
  padding: 0 5%;
}
.nextContainer hr {
  background-color: #fff;
  border-top: 1px dashed var(--fg);
  margin-bottom: 20px;
}
.nextPageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.nextContainer .buttonSubContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nextContainer a.nextButton,
.nextPageLink {
  background: #eeaf74; /*色*/
}
.nextContainer a.backButton {
  background: #abbae1; /*色*/
}
.nextContainer a.nextButton,
.nextContainer a.backButton,
.nextPageLink {
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 4px; /*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
    inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
.nextContainer a.nextButton:hover,
.nextContainer a.backButton:hover,
.nextPageLink:hover {
  color: var(--fg);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.tagSub {
  margin: 0 1em 1.25rem 0;
  display: inline-block;
  background-color: #d3d2c7e7;
  padding: 0 0.5em;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.tagSub p {
  padding: 0 0.8em;
  margin: 0;
}
.tagSub p:hover {
  color: var(--hero-hover-fg);
}
.indexList {
  margin: 0px;
  background: #fefdfb;
  border: 3px dashed #dddddd;
  border-radius: 10px;
  padding: 5px 4px;
}
.indexList a:hover {
  color: var(--hero-hover-fg);
}
.indexList h3 {
  font-size: 1.5rem;
  text-align: center;
}
.indexList h4,
.indexList h5,
.indexList h6 {
  margin: 0;
  font-size: 1.2rem;
}
.indexList h5::before {
  content: ' ';
}

@media (max-width: 600px) {
  .postTitle {
    font-size: 1.2rem;
  }
}
.postTitle a {
  font-size: 1.2rem;
  color: inherit;
}
@media (max-width: 600px) {
  .postTitle a {
    font-size: 1.15rem;
  }
  .postTitleSlug {
    font-size: 1.15em;
  }
  .tagSub {
    margin: 0 1em 0.8rem 0;
    padding: 0 0.5em;
  }
}

.postExcerpt {
  padding: 0.4rem 0;
  font-size: 1rem;
}

.postBody {
  padding: 0.5rem 0;
}

.noContents {
  text-align: center;
}
@media (min-width: 1024px) {
  .postDate {
    min-width: 50%;
    padding: 2% 5%;
  }
  .nextContainer {
    padding: 0;
  }

  .blogTagLink {
  }
  .blogTagLink h3,
  .blogPostLink h3 {
    margin: 0;
    font-size: 1.1rem;
  }
  .blogTagLink ul,
  .blogPostLink ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.3rem;
  }
  .blogTagLink ul li,
  .blogPostLink ul li {
    position: relative;
    font-size: 1rem;
    padding: 0.4rem 0;
    padding-left: 0.7rem;
    line-height: 1.2rem;
  }
  .blogTagLink ul li:before,
  .blogPostLink ul li:before {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    left: 0;
    top: 0.9rem;
    content: '';
    background: #333;
  }

  .postsNotFound {
  }
  .thumbnail {
    width: 23vw;
    height: calc(23vw * 0.53);
    margin: 10px 0 10px 0;
  }
  .thumbnail img {
    width: 23vw;
    height: calc(23vw * 0.53);
  }
}
@media (max-width: 600px) {
  .postTags a {
    font-size: 0.75rem;
    padding-right: 0.75rem;
  }

  .post a.expandButton {
    width: 50%;
  }

  .postExcerpt {
    font-size: 0.9rem;
  }
  .nextContainer {
    padding: 0;
  }
  .nextContainer a.nextButton {
    width: 50%;
  }
  .thumbnail {
    width: 75vw;
    height: calc(75vw * 0.53);
    margin: 10px 0 10px 0;
  }
  .thumbnail img {
    width: 75vw;
    height: calc(75vw * 0.53);
  }
}
