.footer {
  margin: 40px 0 10px;
  text-align: center;
  font-size: 1rem;
}
.footer span {
  color: #777;
}
.footer a {
  /* color: inherit; */
  /* color: #22a50e;
  font-weight: bolder; */
}
.powered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.titleLogo {
  height: 3em;
  margin-left: 0.5rem;
} 