.header {
  display: block;
  min-height: 64px;
  padding: 2em 0;
  text-align: center;
  letter-spacing: -0.02em;
  margin-top: 20px;
}
.header h1 {
  font-size: 1.8rem;
  font-weight: bolder;
}

.header p {
  font-size: 0.8rem;
}
.header h1 a {
  color: var(--fg);
}
.header ul {
  list-style: none;
  padding: 0;
}
.header ul li {
  display: inline-block;
  padding: 10px 20px;
}
.header ul :global(a) {
  font-weight: bolder;
  color: var(--fg-accents-1);
}
.header ul :global(a:hover) {
  color: var(--hero-hover-fg);
}

.header ul :global(a.active) {
  color: var(--fg);
  font-weight: bolder;
  border-radius: 50%;
  padding: 10px 10px;
  background: var(--hero-point-bg);
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0;
  }
}
