.header {
  display: block;
  min-height: 64px;
  padding: 2em 0;
  text-align: center;
  letter-spacing: -0.02em;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.header h1 a {
  color: #000;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header ul :global(a) {
  font-weight: 400;
}

.header ul :global(a.active) {
  color: var(--accents-3);
  font-weight: 400;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0;
  }
}
