.divider {
}

.caption {
  font-size: 0.9rem;
  color: var(--accents-3);
  text-align: center;
}

.image {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}
.image > div:first-child {
  text-align: center;
}

.code {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
.code pre {
  display: block;
  overflow: auto;
  margin: 5px;
  padding: 0.8rem;
  background: #f1f1f1;
  font-size: 0.9rem;
  line-height: 1.2rem;
  border-radius: var(--radius);
}

.callout {
  display: flex;
  margin: 1rem auto;
  padding: 16px 12px;
  width: 100%;
  font-size: 0.95rem;
  line-height: 1.6rem;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.6);
}
.callout div {
  margin: 0;
  color: var(--fg);
  line-height: 1.2rem;
}
.callout div:first-child {
  margin-right: 0.7rem;
}

.linkPreview {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  font-size: 0.9rem;
}
@media (max-width: 1024px) {
  .linkPreview {
    max-height: 320px;
  }
}
@media (max-width: 600px) {
  .linkPreview {
    max-height: 240px;
  }
}
.linkPreview h3 {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .linkPreview h3 {
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: 1rem;
  }
}

.tweetEmbed {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.tweetEmbed div:first-child div:first-child {
  margin: auto;
}
