.container {
  /* width: 640px; */
  max-width: 100%;
  margin: 0 auto;
}
.mainContent {
  width: 100%;
}
.tagMain {
  margin: 0 1em 1.25rem 0;
  display: inline-block;
  font-size: 1em;
  color: var(--fg);
  text-shadow: 0 0 5px white;
  padding: 0 0.8em;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    white white 3px,
    #fc8b534b 3px,
    #fc8b534b 7px
  );
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 3px,
    #fc8b534b 3px,
    #fc8b534b 7px /* #f7eb98 */
  );
}
.tagMain p,
.moreSearch p {
  font-weight: bold;
}
.tagMain p:hover,
.moreSearch p:hover {
  color: var(--hero-hover-fg);
}
.moreSearch {
  margin: 0 1em 1.25rem 0;
  display: inline-block;
  font-size: 1em;
  color: var(--fg);
  text-shadow: 0 0 5px white;
  padding: 0 0.8em;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    white white 3px,
    #34afe425 3px,
    #34afe425 7px
  );
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 3px,
    #34afe425 3px,
    #34afe425 7px
  );
}
.tagSub {
  margin: 0 1em 1.25rem 0;
  display: inline-block;
  background-color: #d3d2c7e7;
  padding: 0 0.5em;
}
.tagSub p {
  padding: 0 0.8em;
  margin: 0;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .mainContent {
    width: 100%;
  }
  .subContent {
    width: 60%;
    padding: 0 3%;
  }
  .tagMalin {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  .tagMain,
  .moreSearch {
    min-width: 40%;
    text-align: center;
    margin: 0 1em 0.6rem 0;
    padding: 0 0.8em;
  }
  .tagMain p,
  .moreSearch p {
    font-size: 0.8em;
    font-weight: bold;
  }
}

/* .h1 {
  margin: 2rem 0 1rem 0;
  font-size: 1.2em;
  background: linear-gradient(transparent 70%, #ffc778 90%);
  padding-left: 1rem;
  color: black;
}
.h1:after {
  color: #9c9ea4;
  font-size: 0.9rem;
  padding-left: 0.2rem;
} */
