.layout h1,
.layout h2 {
  text-align: center;
}

ul.socialButtons {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li.socialButtonsItem {
  display: inline-block;
  margin-right: 0.5em;
}
