@use 'styles/common/variable' as var;
@import 'styles/mixin/mixin';

.section {
  position: relative;
  max-width: 100%;
  margin: 50px auto 105px;
  padding: 0 20px;

  @media (max-width: var.$small) {
    margin-bottom: 52px;
    padding: 0 0px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .section-title {
    width: 500px;
    margin: 0 auto 50px;
    padding: 0 0 10px;
    border-bottom: 1px solid #000;

    @include fontSize(24, 24);

    font-family: "Raleway, 'Helvetica Neue', Helvetica, Arial, Verdana, Roboto, '游ゴシック', 'Yu Gothic','游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo,'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif";
    font-weight: 500;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.2em;

    @media (max-width: var.$small) {
      width: 100%;
      padding: 0;
      border: none;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 0 50px;

  @media (max-width: var.$small) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.article {
  position: relative;
  width: 100%;
  min-height: 500px;

  .story-figure {
    width: 100%;
  }

  .story {
    &-category {
      @include fontSize(12, 12);

      font-family: "Raleway, 'Helvetica Neue', Helvetica, Arial, Verdana, Roboto, '游ゴシック', 'Yu Gothic','游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo,'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif";

      color: #4b4b4b;
    }

    &-status {
      li {
        text-align: right;
      }
    }

    &-entrance {
      padding: 13px 0;
    }

    &-information {
      width: 355px;
      width: 100%;
      margin: auto;

      p {
        @include fontSize(14, 22);

        color: #333;

        &:first-letter {
          @include fontSize(20, 22);

          color: #111;
        }
      }
    }

    &-publish {
      @include fontSize(11, 11);

      color: #b8b8b8;
    }

    &-figure {
      width: 100%;
      height: 250px;
      transition: all 1000ms 0s ease;
      filter: grayscale(100%);

      @media (max-width: var.$middle) {
        padding-top: 0;
        height: 100vh;
        filter: none;
      }

      &.other {
        background-position: center center;
        background-size: 100%;
      }

      &.outline {
        border: 1px solid #dddddd;

        @media (max-width: var.$small) {
          border: none;
          border-top: 1px solid var.$border;
        }
      }

      &.right {
        background-position: center right;
      }

      &.left {
        background-position: center left;
      }
    }
  }
}
