.divider {
}

.caption {
  font-size: 0.9rem;
  color: var(--accents-3);
  text-align: center;
}

.image {
  margin: 0 auto;
}
.image > div:first-child {
  text-align: center;
}

.equation {
  overflow-x: scroll;
}

.code {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
.code pre {
  display: block;
  overflow: auto;
  margin: 5px;
  padding: 0.8rem;
  background: rgb(247, 246, 243);
  font-size: 0.9rem;
  line-height: 1.2rem;
  border-radius: var(--radius);
}
.code pre code {
  color: var(--fg);
  padding: 0;
  background: rgb(247, 246, 243) !important;
}
.gray, .gray:hover {
  color: rgba(120, 119, 116, 1);
}
.brown, .brown:hover {
  color: rgba(159, 107, 83, 1);
}
.orange, .orange:hover {
  color: rgba(217, 115, 13, 1);
}
.yellow, .yellow:hover {
  color: rgba(203, 145, 47, 1);
}
.green, .green:hover {
  color: rgba(68, 131, 97, 1);
}
.blue, .blue:hover {
  color: rgba(51, 126, 169, 1);
}
.purple, .purple:hover {
  color: rgba(144, 101, 176, 1);
}
.pink, .pink:hover {
  color: rgba(193, 76, 138, 1);
}
.red, .red:hover {
  color: rgba(212, 76, 71, 1);
}
.grayBackground {
  background: rgba(241, 241, 239, 1) !important;
}
.brownBackground {
  background: rgba(244, 238, 238, 1) !important;
}
.orangeBackground {
  background: rgba(251, 236, 221, 1) !important;
}
.yellowBackground {
  background: rgba(251, 243, 219, 1) !important;
}
.greenBackground {
  background: rgba(237, 243, 236, 1) !important;
}
.blueBackground {
  background: rgba(231, 243, 248, 1) !important;
}
.purpleBackground {
  background: rgba(244, 240, 247, 0.8) !important;
}
.pinkBackground {
  background: rgba(249, 238, 243, 0.8) !important;
}
.redBackground {
  background: rgba(253, 235, 236, 1) !important;
}

.callout {
  display: flex;
  margin: 1rem auto;
  padding: 16px 12px;
  width: 100%;
  font-size: 0.95rem;
  line-height: 1.6rem;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.6);
  white-space: pre-wrap;
}
.callout div {
  margin: 0;
  line-height: 1.2rem;
}
.callout div:first-child {
  margin-right: 0.7rem;
}

.table {
  overflow-x: auto;
}
.table th,
.table td {
  white-space: pre;
}

.columnList {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  gap: 0 1rem;
}
.columnList > div {
  flex: 1 1 180px;
  width: 180px;
}
@media (max-width: 640px) {
  .columnList {
    display: block;
  }
  .columnList > div {
    width: 100%;
  }
}

.toDo {
  color: #222;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  padding-inline-start: 1rem;
}
.toDo > div {
}
.toDo > div > input {
}

.bookmark {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 0.9rem;
}
.bookmark > a {
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  user-select: none;
}
.bookmark > a > div:first-child {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  overflow: hidden;
  text-align: left;
  color: var(--fg);
}
.bookmark > a > div:first-child > div:first-child {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}
.bookmark > a > div:first-child > div:nth-child(2) {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
  height: 32px;
  overflow: hidden;
}
.bookmark > a > div:first-child > div:last-child {
  display: flex;
  margin-top: 6px;
}
.bookmark > a > div:first-child > div:last-child > div:first-child {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 6px;
}
.bookmark > a > div:first-child > div:last-child > div:first-child > img {
  max-width: 100%;
  display: inline-block;
}
.bookmark > a > div:first-child > div:last-child > div:last-child {
  font-size: 12px;
  line-height: 16px;
  color: var(--fg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookmark > a > div:last-child {
  flex: 1 1 180px;
  position: relative;
}
@media (max-width: 640px) {
  .bookmark > a > div:last-child {
    display: none;
  }
}
.bookmark > a > div:last-child > img {
  position: absolute !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggle {
  padding: 0.4rem;
}

.toggle > summary {
  cursor: pointer;
}

.toggle > summary > a {
  display: inline;
}

.toggle > summary > a > h4,
.toggle > summary > a > h5,
.toggle > summary > a > h6
{
  display: inline;
}

.toggle > div {
  margin-left: 1em;
}

.tweetEmbed {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.tweetEmbed div:first-child div:first-child {
  margin: auto;
}
.video .youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.video .youtube :first-child {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.tableOfContents {
}
.tableOfContents > a {
  display: block;
  line-height: 1.8rem;
  font-size: 0.9rem;
  text-decoration: underline;
}
.tableOfContents > a:hover {
  background: rgba(241, 241, 239, 1) !important;
}
.tableOfContents > a.indent-1 {
  padding-left: 1.5rem;
}
.tableOfContents > a.indent-2 {
  padding-left: 3.0rem;
}
